* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: 1.4;
    word-break: break-word;
  }
  body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #app {
    width: 100%;
    height: 100%;
  }
  .modal {
      position: fixed;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      background: white;
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 20em;
  }
  button {
      min-height: 3em;
  }
  :root {
      --border-horizontal: 10px;
      --padding-top: 10px;
      --padding-bottom: 10px;
      --transition-default: ease-in-out 0.2s;
      --color-tag: #614630
  }